{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "e198187a-96af-45b8-9dcc-24fff7388f87",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "",
   "name": ""
  },
  "language_info": {
   "name": ""
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}
